[Desktop Entry]
Type=Application
Version=1.4
Name=WhatsApp Web
Comment=Quickly send and receive WhatsApp messages right from your computer.
Keywords=;
Categories=GTK;WebApps;Network;
Icon=FFPWA-01H1Y3MT7W8EA0B9KJBGDFSSMW
Exec=/usr/bin/firefoxpwa site launch 01H1Y3MT7W8EA0B9KJBGDFSSMW --protocol %u
Actions=
MimeType=
Terminal=false
StartupNotify=true
StartupWMClass=FFPWA-01H1Y3MT7W8EA0B9KJBGDFSSMW
X-XFCE-Source=file:///home/samiarch/.local/share/applications/FFPWA-01H1Y3MT7W8EA0B9KJBGDFSSMW.desktop
